@page "/"

<PageTitle>Index</PageTitle>

<div class="text-center">
    <h1 class="display-4">Центр занятости</h1>
    <h3 class="t">Даже Утка сможет найти работу!</h3>
    <br>
    <div class="slider">
        <img class="i" src="/img/site/1.jpg">
        <img class="i" src="/img/site/2.jpg">
        <img class="i" src="/img/site/3.jpg">
    </div>
    <p>Адрес: 53-й кв-л, 2, Ангарск</p>
    <p>В настоящее время в Центре занятости зарегистрировано более 15 тысяч соискателей.</p>
    <p>Центр занятости предлагает платформу, где каждый может найти подходящую работу и приобрести новые навыки.</p>
    <p>Центр занятости предлагает 8 программ профессиональной переподготовки и повышения квалификации.</p>
    <p>Режим работы администрации и других работников Центра занятости по пятидневной рабочей неделе: начало работы в 9:00, перерыв на обед с 13:00 до 13:30, окончание работы в 17:30.</p>
    <p>Режим работы специалистов по пятидневной рабочей неделе по расписанию консультаций.</p>
    <p>Телефон приемной комиссии: 73955512105.</p>
    <p>Адрес электронной почты: jobcenter@aptangarsk.ru.</p>
</div>
